<div class="container">
  <nav aria-label="page-pagination">
    <ul class="pagination">

      {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item">
            <span class="page-link" style="color: grey; pointer-events: none;">&laquo; First</span>
        </li>
        <li class="page-item">
            <span class="page-link" style="color: grey; pointer-events: none;">Previous</span>
        </li>
      {% endif %}

      {% for n in page_nums %}
        <li class="page-item {% if forloop.counter == page_obj.number %} active {% else %}{% endif %}" aria-current="page">
          <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&laquo; Last</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item">
            <span class="page-link" style="color: grey; pointer-events: none;">&laquo; Last</span>
        </li>
        <li class="page-item">
            <span class="page-link" style="color: grey; pointer-events: none;">Next</span>
        </li>
      {% endif %}

    </ul>
  </nav>
  <p class="badge bg-primary">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
  </p>
</div>