{% extends 'book/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<table class="table">
     <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Patronymic</th>
          <th scope="col">Edit</th>
        </tr>
    </thead>
      <tbody>
            {% for author in authors %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.surname }}</td>
                <td>{{ author.patronymic }}</td>
                <td><a href="{% url "update_form" author.id %}">Update</a>
                    <a href="{% url "delete_form" author.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
      </tbody>
</table>
<button type="button" class="btn btn-outline-primary"><a href="form">Add author</a></button>
{% endblock %}