{% extends 'book/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<form action="" method="post" autocomplete="off">
{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="p-3 my-3 col-sm-12">
            <h1>Add book</h1>
        <div class="my-3 col-sm-12">
            <p><b>Name: </b>{{ form.name }}</p>
            <p><b>Description: </b>{{ form.description }}</p>
            <p><b>Count: </b>{{ form.count }}</p>
            <p><b>Authors: </b>
                {{ form.authors }}
            </p>
        </div>
    </div>
<div class="p-3">
    <button type="submit" class="btn btn-success">Submit</button>
</div>
    </div>

</div>

</form>

{% endblock %}